[Unit]
Description=Timer Web App
After=network.target

[Service]
User={{USER}}
WorkingDirectory={{WORKING_DIR}}
ExecStart={{WORKING_DIR}}/venv/bin/python app.py
# This passes the port variable to Python
Environment="PORT={{PORT}}" 
Restart=always
StandardOutput=append:{{WORKING_DIR}}/app.log
StandardError=append:{{WORKING_DIR}}/error.log

[Install]
WantedBy=multi-user.target